<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="CrimeReportingConnectionString1" connectionString="Data Source=.\sqlexpress;Initial Catalog=CrimeReporting;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient"/>
		<!--<add name="crimeDBConnectionString1" connectionString="Data Source=.\sqlexpress;Initial Catalog=crimeDB;Integrated Security=True;Pooling=False"
      providerName="System.Data.SqlClient" />-->
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<httpRuntime targetFramework="4.5"/>
	</system.web>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
	</appSettings>
</configuration>
